@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');

body, html {
  font-family: 'Public Sans', sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: black;
}

.dark-mode h1 {
  color: white;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.note.new {
  background-color: #67d7cc;
}

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.note{
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search input {
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus {
  outline: none;
}

/* To Do App */
.todo-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
  background-color: white;
}

#to-do-form input {
  background-color: blue;
  border: 0;
  width: 150px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  #to-do-form input {
    width: 200px;
    height: 75px;
    font-size: 1.5em;
  }
  }
  form#to-do-form {
    margin: 20px auto;
    width: 20rem;
  }
@media screen and (min-width: 768px) {
form#to-do-form {
  margin: 20px auto;
  width: 25rem;
}
}
#to-do-form input::placeholder {
  color: white;
}
/* Removes outline when clicked */
#to-do-form input:focus, #to-do-form button:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 15px;
  border: 0;
  background-color: orange;
  cursor: pointer;
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  #to-do-form button {
    width: 100px;
    height: 75px;
    font-size: 1.5em;
  }
  }
.list {
  color: black;
  width: 21.25rem;
  height: 50px;
  margin: 20px auto;
  background-color: #fef68a;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) {
  .list {
    width: 30rem;
    height: 75px;
    margin: 40px auto;
  }
}
.list p {
  padding: 10px;
  position: relative;
  cursor: pointer;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .list p {
    padding: 25px;
  }
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.todo-delete {
  margin: 0 5px;
  font-size: 15px;
  align-items: center;
}

.list p input {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  outline: none;
}
@media screen and (min-width: 768px) {
  .list p input {
    font-size: 1.5em;
  }
}
.todo-h1 {
  padding-top: 2%;
  font-weight: bold;
}